name: CI

# This workflow runs unit tests on every push to main branch and on pull requests
# After successful tests, it creates a new release tag only when a PR is merged to main
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

# permissions:
#   contents: write      # push tag、release
#   packages: write      # package 
#   pull-requests: write  # approve PR

jobs:
  test:
    uses: ./.github/workflows/test.yml
  
  create-release-tag:
    name: Bump version and push tag
    needs: test            
    runs-on: ubuntu-latest
    permissions:
      contents: write        # push tag、release
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for tags

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          default_bump: patch   # default bump type: major, minor, patch, or none
          release_branches: main 
          initial_version: 0.0.1
          tag_prefix: v
  